[Unit]
Description=Central service to start all Susi daemons
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=susi
ExecStart=/usr/local/bin/susi.start
ExecStop=/usr/local/bin/susi.stop
Environment="SUSI_INSTALLATION=/opt/Susi/Susi"

[Install]
WantedBy=multi-user.target
