
p {font-family: sans-serif; font-size: 2em;}
h1 {font-family: sans-serif; font-size: 5em}
body {background-color: #d5f4e6;}
img {width: auto; height: 3em; vertical-align: middle;}
.lineheight {height: 1.2em; width: auto; vertical-align: bottom; }
